# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Output
/Objects
/Makefile.win
/cpp-test-task-2.vcxproj.user
/cpp-test-task-2.sdf
/cpp-test-task-2.sln
/cpp-test-task-2.suo
/cpp-test-task-2.vcxproj
/cpp-test-task-2.vcxproj.filters
/cpp-test-task-2.opensdf
ipch
Debug
